@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
/*****************************************************************************/
/* Typography */
body {
  font-family: Roboto, "OpenSans", sans-serif;
  color: #252630;
}

a {
  color: #2980b9;
  text-decoration: none;
}

/*****************************************************************************/
html {
  height: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin-left: 20rem;
}
@media (max-width: 50rem) {
  body {
    margin-left: 0px;
  }
}

/*****************************************************************************/
div#searchbox h3#searchlabel {
  display: none;
}
div#searchbox form.search {
  display: flex;
  flex-direction: row;
}
div#searchbox form.search input {
  display: block;
  box-sizing: border-box;
  padding: 0.3rem;
  color: #2980b9;
  border-radius: 0.2rem;
}
div#searchbox form.search input[type=text] {
  border: none;
  background-color: rgba(255, 255, 255, 0.6);
  flex-grow: 1;
  margin-right: 0.2rem;
}
div#searchbox form.search input[type=text]::placeholder {
  color: rgba(0, 0, 0, 0.6);
}
div#searchbox form.search input[type=submit] {
  cursor: pointer;
  flex-grow: 0;
  border: none;
  background-color: white;
}

nav#top_nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #3889ce;
  color: white;
  z-index: 100;
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav#top_nav h1 {
  flex-grow: 1;
  font-size: 1.2rem;
  margin: 0;
  padding: 0 0 0 0.8rem;
  line-height: 1;
}
nav#top_nav h1 a {
  color: white;
}
nav#top_nav p#toggle_sidebar {
  transform: rotate(90deg);
  letter-spacing: 0.1rem;
  flex-grow: 0;
  margin: 0;
  padding: 0;
}
nav#top_nav p#toggle_sidebar a {
  color: white;
  font-weight: bold;
}

/*****************************************************************************/
div.related {
  box-sizing: border-box;
  padding: 1rem;
}
div.related ul {
  padding: 0;
  margin: 0;
}
div.related ul li {
  display: inline-block;
}
div.related ul li.right {
  float: right;
}

/*****************************************************************************/
div.document {
  flex-grow: 1;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
div.document img {
  max-width: 100%;
}
div.document code {
  padding: 2px 4px;
  background-color: #f8f8f8;
  border-radius: 0.2rem;
  font-family: "Roboto Mono", monospace, Monaco, Consolas, Andale Mono;
}
div.document div.documentwrapper {
  max-width: 45rem;
  margin: 0 auto;
}
div.document div.highlight {
  box-sizing: border-box;
  padding: 0.2rem 1rem;
  margin: 0.5rem 0;
  border-radius: 0.2rem;
  font-size: 0.9rem;
}
div.document div.highlight pre {
  font-family: "Roboto Mono", monospace, Monaco, Consolas, Andale Mono;
}
div.document div[class*=highlight] {
  overflow-x: auto;
}
div.document a.headerlink {
  font-size: 0.6em;
  display: none;
  padding-left: 0.5rem;
  vertical-align: middle;
}
div.document h1 {
  font-weight: normal;
}
div.document h1, div.document h2, div.document h3, div.document h4, div.document h5, div.document h6, div.document str, div.document b {
  font-weight: 700;
}
div.document h1:hover a.headerlink,
div.document h2:hover a.headerlink,
div.document h3:hover a.headerlink,
div.document h4:hover a.headerlink {
  display: inline-block;
}
div.document p,
div.document li {
  font-size: 1rem;
  line-height: 1.5;
}
div.document hr {
  border: none;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.08);
  margin: 2rem 0;
}
div.document dl.py {
  margin-bottom: 2rem;
}
div.document dl.py dt.sig {
  background-color: rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace, Monaco, Consolas, Andale Mono;
  padding: 1rem;
}
div.document dl.py em.property {
  color: white;
  font-weight: bold;
}
div.document dl.py span.sig-name {
  color: #d2a55e;
  font-weight: bold;
}
div.document dl.py em.property {
  color: #AC6E3B;
}
div.document dl.py em.sig-param {
  margin-left: 2rem;
}
div.document dl.py em.sig-param span.default_value {
  color: #ABC06D;
}
div.document dl.py span.sig-return span.sig-return-typehint {
  color: rgba(0, 0, 0, 0.8);
}
div.document dl.py em.sig-param > span:first-child {
  font-weight: bold;
}
div.document div.admonition {
  border-radius: 0.2rem;
  margin: 1rem 0;
  overflow: hidden;
}
div.document div.admonition p {
  box-sizing: border-box;
  padding: 0.3rem 0.5rem 0.5rem;
  margin: 0;
}
div.document div.admonition code {
  background-color: rgba(255, 255, 255, 0.8);
}
div.document div.admonition p.admonition-title {
  color: white;
  font-weight: bolder;
  letter-spacing: 0.01rem;
}
div.document div.admonition.hint p.admonition-title, div.document div.admonition.important p.admonition-title, div.document div.admonition.tip p.admonition-title {
  background-color: #56b79c;
}
div.document div.admonition.hint p, div.document div.admonition.important p, div.document div.admonition.tip p {
  background-color: #ddf4ef;
}
div.document div.admonition.note p.admonition-title {
  background-color: #587f9f;
}
div.document div.admonition.note p {
  background-color: #e9f2f9;
}
div.document div.admonition.danger p.admonition-title, div.document div.admonition.error p.admonition-title {
  background-color: #e6a39a;
}
div.document div.admonition.danger p, div.document div.admonition.error p {
  background-color: #fbf3f2;
}
div.document div.admonition.attention p.admonition-title, div.document div.admonition.caution p.admonition-title, div.document div.admonition.warning p.admonition-title {
  background-color: #e7b486;
}
div.document div.admonition.attention p, div.document div.admonition.caution p, div.document div.admonition.warning p {
  background-color: #fcedd0;
}

/*****************************************************************************/
div.sphinxsidebar {
  background-color: white;
  border-right: 1px solid rgba(0, 0, 0, 0.08);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 20rem;
}
@media (max-width: 50rem) {
  div.sphinxsidebar {
    display: none;
  }
}
div.sphinxsidebar div.sphinxsidebarwrapper {
  height: 100%;
  overflow-y: auto;
}
div.sphinxsidebar a {
  color: #252630;
  text-decoration: none;
}
div.sphinxsidebar a:hover {
  color: #2980b9;
}
div.sphinxsidebar ul {
  padding-left: 0rem;
  list-style: none;
}
div.sphinxsidebar ul li {
  font-size: 0.9rem;
  line-height: 2;
}
div.sphinxsidebar ul li a {
  display: block;
  box-sizing: border-box;
  padding: 0 0.2rem;
}
div.sphinxsidebar ul li a.current:last-of-type {
  background-color: rgba(255, 255, 255, 0.1);
}
div.sphinxsidebar ul li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
div.sphinxsidebar ul li > ul {
  padding-left: 1rem;
}
div.sphinxsidebar p.logo img {
  max-width: 100%;
  margin: 0 auto;
}
div.sphinxsidebar p.caption {
  color: rgba(255, 255, 255, 0.6);
}

/*****************************************************************************/
div.sphinxsidebar,
div.documentwrapper {
  box-sizing: border-box;
  padding: 1rem;
}

div.documentwrapper {
  flex-grow: 1;
}

/*****************************************************************************/
/* Footer */
div.footer {
  box-sizing: border-box;
  padding: 2rem 0;
  font-size: 0.7rem;
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.4);
}

/*****************************************************************************/
/* Buttons */
div.button_nav {
  max-width: 45rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  width: 100%;
}
div.button_nav div {
  box-sizing: border-box;
  padding: 1rem;
  flex: 50%;
}
div.button_nav div a {
  display: block;
}
div.button_nav div a span {
  font-weight: bold;
}
div.button_nav div.left a {
  text-align: left;
}
div.button_nav div.right a {
  text-align: right;
}

/*# sourceMappingURL=basic_mod.css.map */
