@use 'sass:color';
@import './color_scheme/black.scss';

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

$linkColor: #2980b9;
$dividerColor: rgba(0, 0, 0, 0.08);

$borderRadius: 0.2rem;
$sidebarWidth: 15rem;
$contentWidth: 45rem;
$mobileTransition: 50rem;
$navbarHeight: 3rem;

/*****************************************************************************/
/* Typography */

body {
  font-family: Roboto, "OpenSans", sans-serif;
  color: $fontColor;
}

a {
  color: $linkColor;
  text-decoration: none;
}

/*****************************************************************************/

html {
  height: 100%;
  // So anchor elements aren't hidden behind the main nav bar:
  scroll-padding-top: $navbarHeight;
}

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin-left: $sidebarWidth;
  margin-right: $sidebarWidth;

  @media(max-width: $mobileTransition) {
    margin-left: 0px;
    margin-right: 0px;
  }
}

/*****************************************************************************/

div#searchbox {
  h3#searchlabel {
    display: none;
  }

  form.search {
    display: flex;
    flex-direction: row;

    input {
      display: block;
      box-sizing: border-box;
      padding: 0.3rem;
      color: $fontColor;
      border-radius: $borderRadius;
    }

    input[type=text] {
      border: none;
      background-color: rgba(255,255,255,0.6);
      flex-grow: 1;
      margin-right: 0.2rem;

      &::placeholder {
        color: rgba(0,0,0,0.6);
      }
    }

    input[type=submit] {
      cursor: pointer;
      color: $linkColor;
      flex-grow: 0;
      border: none;
      background-color: white;
    }
  }
}

nav#top_nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #3889ce;
  color: white;
  z-index: 100;
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: $navbarHeight;

  h1 {
    flex-grow: 1;
    font-size: 1.2rem;
    margin: 0;
    padding: 0 0 0 0.8rem;
    line-height: 1;

    a {
      color: white;
    }
  }

  p#toggle_sidebar {
    transform: rotate(90deg);
    letter-spacing: 0.1rem;
    flex-grow: 0;
    margin: 0;
    padding: 0;

    a {
      color: $toggleSidebarColor;
      font-weight: bold;
    }
  }
}

/*****************************************************************************/

div.related {
  box-sizing: border-box;
  padding: 1rem;

  ul {
    padding: 0;
    margin: 0;

    li {
      display: inline-block;

      &.right {
        float: right;
      }
    }
  }
}

/*****************************************************************************/

div.document {
  flex-grow: 1;
  margin-top: 5rem;
  margin-bottom: 5rem;

  img {
    max-width: 100%;
  }

  code {
    padding: 2px 4px;
    background-color: $inlineCodeBgColor;
    border-radius: $borderRadius;
    font-family: $codeFont;
  }

  div.documentwrapper {
    max-width: $contentWidth;
    margin: 0 auto;
  }

  div.highlight {
    box-sizing: border-box;
    padding: 0.2rem 1rem;
    margin: 0.5rem 0;
    border-radius: $borderRadius;
    font-size: 0.9rem;

    pre {
      font-family: $codeFont;
    }
  }

  // This is a code block:
  div[class*="highlight"] {
    overflow-x: auto;
  }

  a.headerlink {
    font-size: 0.6em;
    display: none;
    padding-left: 0.5rem;
    vertical-align: middle;
  }

  h1 {
    font-weight: normal;
  }

  h1,h2,h3,h4,h5,h6,str,b {
    font-weight: 700;
  }

  h1:hover,
  h2:hover,
  h3:hover,
  h4:hover {
    a.headerlink {
      display: inline-block;
    }
  }

  p,
  li {
    font-size: 1rem;
    line-height: 1.5;
  }

  hr {
    border: none;
    height: 1px;
    background-color: $dividerColor;
    margin: 2rem 0;
  }

  // Autodoc ------------------------------------------------------------------

  dl.py {
    margin-bottom: 2rem;

    dt.sig {
      background-color: rgba(0,0,0,0.05);
      box-sizing: border-box;
      font-family: $codeFont;
      padding: 1rem;
      // color: white;
    }

    // e.g. `class`, or `def`
    em.property {
      color: $sidebarColor;
      font-weight: bold;
    }

    // e.g. `MyClass`
    span.sig-name {
      color: #d2a55e;
      font-weight: bold;
    }

    // e.g classmethod
    em.property {
      color: #AC6E3B;
    }

    em.sig-param {
      margin-left: 2rem;

      span.default_value {
        color: #ABC06D;
      }
    }

    span.sig-return {
      span.sig-return-typehint {
        color: rgba(0,0,0,0.8);
      }
    }

    // The parameter name:
    em.sig-param >  span:first-child {
      font-weight: bold;
    }
  }

  // Admonitions --------------------------------------------------------------

  div.admonition {
    border-radius: $borderRadius;
    margin: 1rem 0;
    overflow: hidden;

    p {
      box-sizing: border-box;
      padding: 0.5rem;
      margin: 0;
    }

    p.admonition-title {
      color: white;
      font-weight: bolder;
      letter-spacing: 0.01rem;
    }

    &.hint,
    &.important,
    &.tip {
      p.admonition-title {
        background-color: #56b79c;
      }

      p {
        background-color: #ddf4ef;
      }
    }

    &.note {
      p.admonition-title {
        background-color: #587f9f;
      }

      p {
        background-color: #e9f2f9;
      }
    }

    &.danger,
    &.error {
      p.admonition-title {
        background-color: #e6a39a;
      }

      p {
        $color: #fbf3f2;

        background-color: $color;
      }
    }

    &.attention,
    &.caution,
    &.warning {
      $headingBgColor: #e7b486;
      $bodyBgColor: #fcedd0;

      p.admonition-title {
        background-color: $headingBgColor;
        color: white;
      }

      p {
        background-color: #fcedd0;
        color: color.scale($headingBgColor, $lightness: -30%);
      }
    }
  }
}

/*****************************************************************************/
// Sidebar

@mixin sidebar_list {
  ul {
    padding-left: 0rem;
    list-style: none;

    li {
      font-size: 0.9rem;
      line-height: 1.2;

      a {
        display: block;
        box-sizing: border-box;
        padding: 0 0.2rem 0.6rem;
        color: $fontColor;
        text-decoration: none;

        &.current {
          color: $linkColor;
        }

        &:hover {
          color: $linkColor;
        }
      }
    }

    li > ul {
      padding-left: 1rem;
    }
  }
}

@mixin sidebar_p {
  p {
    color: rgba(0, 0, 0, 0.6);
  }
}

div.sphinxsidebar {
  background-color: $sidebarColor;
  border-right: 1px solid $dividerColor;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: $sidebarWidth;
  box-sizing: border-box;
  padding: $navbarHeight 1rem 1rem;

  @media(max-width: $mobileTransition) {
    display: none;
  }

  div.sphinxsidebarwrapper {
    height: 100%;
    overflow-y: auto;
  }

  @include sidebar_list;
  @include sidebar_p;
}

/*****************************************************************************/
// The right sidebar, showing the table of contents for the current page.

div#right_sidebar {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 50;
  background-color: white;
  width: $sidebarWidth;
  border-left: 1px solid $dividerColor;
  box-sizing: border-box;
  padding: $navbarHeight 1rem 1rem;
  height: 100%;
  overflow-y: auto;

  @include sidebar_list;
  @include sidebar_p;

  a#toggle_right_sidebar {
    display: inline-block;
    transform: rotate(90deg);
    letter-spacing: 0.05rem;
  }
}

/*****************************************************************************/

div.documentwrapper {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 1rem;
}

/*****************************************************************************/
/* Footer */

div.footer {
  box-sizing: border-box;
  padding: 2rem 0;
  font-size: 0.7rem;
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.4);
}

/*****************************************************************************/
/* Buttons */

div.button_nav {
  max-width: $contentWidth;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  width: 100%;

  div {
    box-sizing: border-box;
    padding: 1rem;
    flex: 50%;

    a {
      display: block;

      span {
        font-weight: bold;
      }
    }

    &.left {
      a {
        text-align: left;
      }
    }

    &.right {
      a {
        text-align: right;
      }
    }
  }
}
