// $darkGrey: #262626;
$darkGrey: #252630;

$codeBackgroundColor: #f8f8f8;
$sidebarColor: white;
$fontColor: $darkGrey;
$toggleSidebarColor: white;
$inlineCodeBgColor: $codeBackgroundColor;
$codeFont: 'Roboto Mono', monospace, Monaco, Consolas, Andale Mono;
