$piccoloBlue: #4C89C8;
$piccoloDarkBlue: #335471;
$piccoloInlineCodeBlue: #f0f7fd;
$darkBlue: #293c4d;

$codeBackgroundColor: #f8f8f8;
$sidebarColor: $piccoloBlue;
$fontColor: $piccoloDarkBlue;
$toggleSidebarColor: $piccoloDarkBlue;
$inlineCodeBgColor: $codeBackgroundColor;
$codeFont: 'Roboto Mono', monospace, Monaco, Consolas, Andale Mono;
