{% extends "basic/layout.html" %}


{%- block header %}
<nav id="top_nav">
    <p id="toggle_sidebar">
        <a href="#" title="Toggle sidebar">|||</a>
    </p>
    <h1><a href="{{ pathto(root_doc)|e }}" title="Go to homepage">Piccolo</a></h1>

    {% include "basic/searchbox.html" %}
</nav>
{% endblock %}


{%- block sidebar1 %}
    {{ sidebar() }}
    {%- block sidebarlogo %}{% endblock %}
{% endblock %}


{%- block sidebar2 %}
    <div id="page_contents">
        {{ toc }}
    </div>
{% endblock %}


{%- block relbar1 %}{% endblock %}


{%- block scripts %}
    {{- script() }}
    <script src="{{ pathto('_static/js/theme.js', 1) }}"></script>
{%- endblock %}


{%- block relbar2 %}
    <div class="button_nav">
        <div class="left">
            {% if prev %}
            <a href="{{ prev.link }}">
                <span><</span> {{ prev.title }}</a>
            {% endif %}
        </div>

        <div class="right">
            {% if next %}
                <a href="{{ next.link }}">{{ next.title }} <span>></span></a>
            {% endif %}
        </div>
    </div>
{% endblock %}
